@import "https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik&display=swap";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 100;
  --grey-100: #e4e9f0;
  --grey-200: #cfd7e3;
  --grey-300: #b5c0cd;
  --grey-800: #3e4e63;
  --grid-gap: 1px;
  --day-label-size: 1.12em;
}

ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.calendar-month {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 90em;
  min-width: 60vh;
  width: 100%;
}

.calendar-month-header {
  display: flex;
  align-items: center;
  margin: 1.67em 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hack to truly center the month and the year*/
.calendar-month-header::after {
  flex: 1;
  content: '';
}

.current-month-year {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 27vmin;
}

.calendar-month-header-selected-month {
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.calendar-month-header-selectors {
  cursor: pointer;
  font-size: 1.875em;
}

.users {
  display: inline-flex;
  flex: 1;
}

.user-block {
  display: flex;
  align-items: center;
  margin-right: 1.25em;
  font-size: 1em;
  z-index: 1;
}

.user-photo {
  object-fit: cover;
  object-position: 50% 0;
  height: 1.875em;
  width: 1.875em;
  border-radius: 50%;
  margin-right: 0.25em;
}

.day-of-week,
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.day-of-week > li:first-child {
  border-left: solid 1px var(--grey-200);
  border-top-left-radius: 1.25em;
}

.day-of-week > li:last-child {
  border-top-right-radius: 1.25em;
}

.day-of-week > * {
  text-align: right;
  padding-right: 1.15em;
  padding-top:  0.85em;
  min-height: 90px;
  font-size: 1em;
  background-color: #fff;
  color: var(--grey-800);
  font-weight: 600;
  border-top: solid 1px var(--grey-200);
  border-right: solid 1px var(--grey-200);
}

.days-grid {
  height: 100%;
  position: relative;
  border-bottom-left-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
  overflow: hidden;
}

.calendar-day {
  display: flex;
  flex-flow: column;
  min-height: 90px;
  font-size: 1.12em;
  color: var(--grey-800);
  border-right: solid 1px var(--grey-200);
  border-bottom: solid 1px var(--grey-200);
}

.calendar-day:nth-child(7n + 1) {
  border-left: solid 1px var(--grey-200);
}

.calendar-day:nth-child(-n + 7) {
  border-top: solid 1px var(--grey-200);
}

.calendar-day:last-child {
  border-bottom-right-radius: 1.25em;
}

.calendar-day:nth-last-child(7) {
  border-bottom-left-radius: 1.25em;
}

.calendar-day-number {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  right: 0;
  padding-right: 1.1em;
  padding-top: 0.25em;
  height: var(--day-label-size);
}

.calendar-day--current {
  font-weight: 600;
}

.calendar-day--not-current {
  color: var(--grey-300);
}

.event-day-wrapper {
  display: flex;
  flex-flow: column-reverse;
  margin-top: 0.6em;
  height: 100%;
}

.event-day {
  display: flex;
  align-items: center;
  height: 1.4em;
  margin-bottom: 6px;
  padding-left: 10px;
  font-weight: 100;
}

.user-photo-event {
  object-fit: cover;
  object-position: 50% 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 4px;
  z-index: 3;
}

.event-day > span {
  font-size: 0.75em;
  white-space: nowrap;
  letter-spacing: 0.05em;
  z-index: 100;
}

.start {
  width: 96%;
  border-radius: 5px 0 0 5px;
  margin-left: 5%;
}

.active {
  width: 101%;
}

.end {
  width: 95%;
  border-radius: 0 5px 5px 0;
}
