/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik&display=swap");

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* font-family: 'Roboto Mono', monospace; */
  font-family: "Rubik", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 100;
  --grey-100: #e4e9f0;
  --grey-200: #cfd7e3;
  --grey-300: #b5c0cd;
  --grey-800: #3e4e63;
  --grid-gap: 1px;
  --day-label-size: 20px;
}

ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.calendar-month {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* text-align: center; */
  max-width: 80%;

  /* background-color: var(--grey-200); */
}

.calendar-month-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 30px 0 30px 0;
  /* margin: 35px; */
  /* padding: 20px; */
  border-radius: inherit;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.calendar-month-header-selected-month {
  font-size: 24px;
  font-weight: 600;
  position: relative;
}

.calendar-month-header-selectors {
  position: absolute;
  margin: auto 10px;
  pointer-events: auto;
  cursor: pointer;
  font-size: 30px;
}

#previous-month-selector {
  margin-right: 240px;
}

#next-month-selector {
  margin-left: 240px;
}

.calendar-month-header-selectors > * {
  cursor: pointer;
}

.users {
  position: absolute;
  display: inline-flex;
  align-items: center;
  left: 0px;
}

.user-block {
  display: flex;
  align-items: center;
  margin-right: 20px;
  /* margin-left: 20px; */
  font-size: 16px;
  z-index: 1;
}

.user-photo {
  object-fit: cover;
  object-position: 50% 0%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 4px;
  z-index: 3;
}

.day-of-week,
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week > li:first-child {
  border-left: solid 1px var(--grey-200);
  border-top-left-radius: 20px;
}

.day-of-week > li:last-child {
  border-top-right-radius: 20px;
}

.day-of-week > * {
  text-align: right;
  padding-right: 20px;
  padding-top: 15px;
  min-height: 90px;
  font-size: 18px;
  background-color: #fff;
  color: var(--grey-800);
  font-weight: 600;
  border-top: solid 1px var(--grey-200);
  border-right: solid 1px var(--grey-200);
}

.days-grid {
  height: 100%;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.calendar-day {
  position: relative;
  min-height: 90px;
  font-size: 18px;
  /* background-color: #fff; */
  color: var(--grey-800);
  border-right: solid 1px var(--grey-200);
  border-bottom: solid 1px var(--grey-200);
}

.calendar-day:nth-child(7n + 1) {
  border-left: solid 1px var(--grey-200);
}

.calendar-day:nth-child(-n + 7) {
  border-top: solid 1px var(--grey-200);
}

.calendar-day:last-child {
  border-bottom-right-radius: 20px;
}

.calendar-day:nth-last-child(7) {
  border-bottom-left-radius: 20px;
}

.calendar-day-number {
  position: absolute;
  right: 0px;
  padding-right: 20px;
  padding-top: 5px;
  /* width: var(--day-label-size); */
  height: var(--day-label-size);
}

.calendar-day-wrapper {
  position: relative;
  /* width: var(--day-label-size); */
}

.calendar-day--current {
  font-weight: 600;
}

.calendar-day--not-current {
  color: var(--grey-300);
}

.colorize {
  /* background-color: #fbffd5; */
}

.event-day-wrapper {
  position: absolute;
  width: 95%;
  bottom: 0;
  right: 0;
}

.event-day {
  position: relative;
  display: flex;
  align-items: center;
  content: "";
  /* background-color: #3e4e63; */
  width: 100%;
  height: 25px;
  /* font-size: 12px; */
  line-height: 2em;
  margin: 5px 0;
  padding-left: 10px;
  font-weight: 100;
  border-radius: 5px 0 0 5px;
  z-index: 100;
}

.user-photo-event {
  object-fit: cover;
  object-position: 50% 0%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 4px;
  z-index: 3;
}

.event-day > span {
  font-size: 14px;
  white-space: nowrap;
}

.start {

}
